@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #dfe9f5;
}
.container{
    display: flex;
}
nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #fff;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
nav a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}
nav .fas{
    position: relative;
    width: 60px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #eee;
}
.logout{
    position: absolute;
    bottom: 0;
}

/* Main Section */
.main{
    position: relative;
    padding: 20px;
    width: 100%;
}
.main-top{
    display: flex;
    width: 100%;
}
.main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
}
.main-skills{
    display: flex;
    margin-top: 20px;
}

.main-skills .homecard{
    width: 200%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 140px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .profilecard{
    width: 50%;
    height: 50%;
    margin: 10px;
    margin-left: 220px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .Updatecard{
    width: 200%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 140px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .counselcard{
    width: 60%;
    margin: 10px;
    margin-left: 180px;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .slotcard{
    width: 70%;
    margin: 10px;
    margin-left: 100px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 120px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .tabelcard{
    display: block;
    height: auto;
    width: auto;
    /*margin-left: 160px;*/
/*    margin: 10px;*/
    margin-right: 50px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 30px 50px 30px 50px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .ebooktabelcard{
    display: block;
    height: auto;
    width: auto;
    margin-left: 180px;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 30px 50px 30px 50px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}


.main-skills .mlistcard{
    display: block;
    height: auto;
    width: auto;
    margin-left: 140px;
    margin-top: 50px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 30px 50px 30px 50px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .freecard{
    width: 70%;
    margin: 10px;
    margin-left: 160px;
    margin-right: 50px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .agcard{
    width: 50%;
    height: 50%;
    margin: 10px;
    margin-top: 60px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 100px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .counselcard h3{
    margin: 10px;
    text-transform: capitalize;
}
.main-skills .agcard h3{
    margin: 10px;
    text-transform: capitalize;
}
.main-skills .card h3{
    margin: 10px;
    text-transform: capitalize;
}
.main-skills .homecard h3{
    margin: 10px;
    text-transform: capitalize;
}
.main-skills .counselcard p{
    font-size: 12px;
}
.slotcard input{
    padding: 10px;
    color:black;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
/*table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
table td, th input{
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}*/
.Updatecard input, select, option{
    padding: 10px;
    color:black;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.main-skills .card p{
    font-size: 12px;
}
.main-skills .profilecard button{
    background: orangered;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.main-skills .counselcard button{
    background: orangered;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.main-skills .slotcard button{
    background: orangered;
    margin-top: 15px;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.main-skills .agcard button{
    background: orangered;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.main-skills .card button{
    background: orangered;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.main-skills .profilecard button:hover{
    background: rgba(223, 70, 15, 0.856);
}
.main-skills .counselcard button:hover{
    background: rgba(223, 70, 15, 0.856);
}
.main-skills .slotcard button:hover{
    background: rgba(223, 70, 15, 0.856);
}
.main-skills .agcard button:hover{
    background: rgba(223, 70, 15, 0.856);
}
.main-skills .card button:hover{
    background: rgba(223, 70, 15, 0.856);
}
.main-skills .card i{
    font-size: 22px;
    padding: 10px;
}

input[type=submit]{
    background: orangered;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}
